
<div class="display-card" *ngIf = "clientOrHairdresser()">
  <figure class="snip0045 green border-card">
    <figcaption>
      <h2>{{appointment.hairdresserName}} <span>{{appointment.hairdresserLastName}}</span></h2>
      <p class="tel">Tel: {{appointment.hairdresserPhone}}</p> 
      <p>Email: {{appointment.hairdresserEmail}}</p>
      <p class="tel">Data: {{appointment.day}}</p>
      <p>Ora: {{appointment.startTime}}</p>
    </figcaption>
    <img src="https://cdn.w600.comps.canstockphoto.com/pop-art-barber-hipster-man-vector-clipart-vector_csp92988452.jpg" alt="sample6"/> 
    <div class="position"><button class="bottom-delete" (click)="deleteAppointment(appointment)" >Anulează programarea</button></div>
    
  </figure>
</div>

<div class="display-card" *ngIf="!clientOrHairdresser()">
    <figure class="snip0045 green border-card">
      <figcaption>
        <h2>{{appointmentForHairdresser.clientName}} <span>{{appointmentForHairdresser.clientLastName}}</span></h2>
        <p class="tel">Tel: {{appointmentForHairdresser.clientPhone}}</p> 
        <p>Email: {{appointmentForHairdresser.clientEmail}}</p>
        <p class="tel">Data: {{appointmentForHairdresser.day}}</p>
        <p>Ora: {{appointmentForHairdresser.startTime}}</p>
      </figcaption>
      <img src="https://cdn.w600.comps.canstockphoto.com/pop-art-barber-hipster-man-vector-clipart-vector_csp92988452.jpg" alt="sample6"/> 
      <div class="position"><button class="bottom-delete" (click)="deleteAppointment(appointment)">Anulează programarea</button></div>
    </figure>
  </div>
