button.calendar,
button.calendar:active {
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}


th[sortable] {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

th[sortable].desc:before,
th[sortable].asc:before {
  content: '';
  display: block;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC') no-repeat;
  background-size: 22px;
  width: 22px;
  height: 22px;
  float: left;
  margin-left: -22px;
}

th[sortable].desc:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

ngbd-table-filtering span.ngb-highlight {
  background-color: yellow;
}

ngbd-table-complete span.ngb-highlight {
  background-color: yellow;
}

ngb-carousel .picsum-img-wrapper {
  position: relative;
  height: 0;
  padding-top: 55%;
}

ngb-carousel .picsum-img-wrapper>img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.move-div {
  margin-top: 10%;
}

.move-book-close-button {
  padding-top: 10%;
  margin-top: 10%;
  margin-left: 35%;
}

.move-close-button {
  margin-left: 5%;
}

.move-available-slots {
  display: grid;
  grid-template-columns: 80% 80% 80%;
  justify-content: center;
  justify-content: space-between;
  margin-right: 20%;
  margin-top: 10%;

}

.move-date {
  margin-left: 30%;
  padding-bottom: 10%;
}

.button{
  justify-content: space-between;
}

.div-width {
  width: 20px;
}

.button-move {
  margin-top: 6%;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  width: 500px;
  height: 300px;
  margin: auto;
}

.carousel-size {
  margin-top: 5%;
  width: 60%;
  height: 40%;
}

.border-carousel {
  background-color: antiquewhite;
  margin-left: 3%;
  border: 5px whitesmoke solid;
  /* border-radius: 10%; */
  box-shadow: 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5%;

}

.padding {
  padding: 3%;
  padding-left: 0%;
  padding-right: 0%;
}

.work-program {
  width: 360px;
  border: 2px solid whitesmoke;
  margin-top: -5%;
  background-color: whitesmoke;
  border-radius: 5%;
}

.move-right {
  display: flex;
  justify-content: center;
  margin-left: 30%;
  margin-top: -20%;
}

.border-program-1 {
  margin-top: 20px;
  margin-bottom: 10px;
  border: 0.5px solid gray;

}

.border-program-2{
  margin-top: 10px;
  margin-bottom: 15px;
  border: 0.5px solid gray;
}

h2 {
  padding: 10px;
}

.move-hours {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  /* margin-left: 45%; */
  font-size: 17px;

}

.move-day {
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
  margin-left: 12px;
  font-size: 17px;
  position: absolute;
  
}

.div-program {
  border: 2px solid green;
  padding: 20px;
}

.phoneNumber{
  text-align: center;
  font-size: 20px;
}

.font-text{
  text-align: center;
  font-size: 25px;
}

.name{
  margin-left: 4%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: bold; 
}

h3{
  padding-right: 60%;
  margin-left: 5%;
  font-weight: bold;
  margin-top: -4%;
}

.button-1{
  background-color: cadetblue;
  border: 1px solid azure;
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 15%;
  margin-left: 10%;
}

.image {
  max-width: 70px;
  max-height: 70px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 5px;
}

.closed{
  margin-top: 20%;
  background-color: whitesmoke;
  text-align: center;
  justify-content: center;
  margin-left: 40px;
  display: flex;
  font-size: 20px;
  border: 3px whitesmoke solid;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10%;
  border-radius: 5%;
  width: 220px;
  height: 70px;
}

.closed-sunday{
  margin-top: 20%;
  background-color: whitesmoke;
  text-align: center;
  justify-content: center;
  margin-left: 40px;
  display: flex;
  font-size: 20px;
  border: 3px whitesmoke solid;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10%;
  border-radius: 5%;
  width: 220px;
  height: 35px;
}

.item{
  
    
    background-color: whitesmoke;
    
    
    text-align: center;
}

h5{
  display: flex;
  justify-content: center;
  border-block-end: solid 1px;
  border-radius: 10%;
  margin-bottom: -3%;
}
h4{
  display: flex;
  justify-content: center;
}