<body>
  <nav class="navbar navbar-default navbar-expand-lg navbar-light">
    <div class="navbar-header">
      <img class="img-align" src="https://w7.pngwing.com/pngs/105/305/png-transparent-barbershop-sign-light-pole-stripes.png" alt="picture" width="40px"
      height="50px">
      <a class="navbar-brand a-move-right" href="" >Vanu<b>BarberShop</b></a>
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
        <span class="navbar-toggler-icon"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="">Home</a></li>
        <!-- <li><a href="#">About</a></li>
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">Services <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Graphic Design</a></li>
            <li><a href="#">Digital Marketing</a></li>
          </ul>
        </li>
        <li class="active"><a href="#">Pricing</a></li> -->
        <li><a href="contact">Contact</a></li>
      </ul>
      <!-- <form class="navbar-form form-inline">
        <div class="input-group search-box">
          <input type="text" id="search" class="form-control" placeholder="Search here...">
          <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
        </div>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!userLoggedIn()"></li>
        <li class="dropdown" *ngIf="userLoggedIn()">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{getUserName()}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#" [routerLink] = "['/user-profile']">Detalii cont</a></li>
            <!-- <li><a href="#">Web Development</a></li> -->
            <li><a [routerLink] = "['/allAppointment', getUserId()]">Programarile tale</a></li>
            <!-- <li><a href="#">Digital Marketing</a></li> -->
          </ul>
        </li>
        <li *ngIf="userLoggedIn()">
          <a class="dropdown-toggle" class="btn btn-primary dropdown-toggle get-started-btn mt-1 mb-1" (click) = "logoutUser()" >Logout</a>
          </li>
        <li *ngIf="!userLoggedIn()">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">Login</a>
          <ul class="dropdown-menu form-wrapper">
            <li>
              <form>
                <p class="hint-text">Sign in with your social media account</p>
                <div class="form-group social-btn clearfix">
                  <a href="#" class="btn btn-primary pull-left"><i class="fa fa-facebook"></i> Facebook</a>
                  <a href="#" class="btn btn-info pull-right"><i class="fa fa-twitter"></i> Twitter</a>
                </div>
                <div class="or-seperator"><b>or</b></div>
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="email" name="email" placeholder="Username" required="required">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" [(ngModel)]=" password" name="password" placeholder="Password" required="required">
                </div>
                <input type="submit" class="btn btn-primary btn-block" (click) = "onClick()" data-toggle="dropdown" aria-expanded="false" value="Login">
                <div class="form-footer">
                  <a href="#">Forgot Your password?</a>
                </div>
              </form>
            </li>
          </ul>
        </li>
        <li *ngIf="userLoggedIn()"></li>
        <li *ngIf="!userLoggedIn()">
          <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle get-started-btn mt-1 mb-1">Sign
            up</a>
          <ul class="dropdown-menu form-wrapper">
            <li>
              <form  #form="ngForm" (ngSumbit)="onSubmit(form)">
                <p class="hint-text">Fill in this form to create your account!</p>
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="firstname" name="firstname"
                    placeholder="Nume" required="required">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="lastname" name="lastname"
                    placeholder="Prenume" required="required">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="phoneNumber" name="phoneNumber"
                    placeholder="Telefon" required="required">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Email"
                    required="required">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" [(ngModel)]=" password" name="password"
                    placeholder="Parola" required="required">
                </div>
                <!-- <div class="form-group">
                  <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a
                      href="#">Terms &amp; Conditions</a></label>
                </div> -->
                <input type="submit" class="btn btn-primary btn-block" value="Sign up" (click)="onSubmit(form)"> 
              </form>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</body>