<body>
  <nav class="navbar navbar-default navbar-expand-lg navbar-light">
    <div class="navbar-header">
      <img class="img-align" src="https://i.pinimg.com/originals/7f/46/86/7f46865f96a85c474f4adf7d0b7c77dd.jpg" alt=""
        width="50px" height="50px" />
      <a class="navbar-brand a-move-right" routerLink="">The<b>Barbershop</b></a>
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
        <span class="navbar-toggler-icon"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!-- <li><a href="contact">Contact</a></li> -->
      </ul>
      <!-- <form class="navbar-form form-inline">
        <div class="input-group search-box">
          <input type="text" id="search" class="form-control" placeholder="Search here...">
          <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
        </div>
      </form> -->

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!userLoggedIn()"></li>
        <li class="dropdown" *ngIf="userLoggedIn()">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{getUserName()}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a data-toggle="dropdown" class="dropdown-toggle down" [routerLink]="['/user-profile']">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-person-lines-fill " viewBox="0 0 16 16">
                  <path
                    d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
                </svg>&nbsp;&nbsp;
                Detalii cont</a></li>
            <!-- <li><a href="#">Web Development</a></li> -->
            <li><a data-toggle="dropdown" class="dropdown-toggle down" [routerLink]="['/allAppointment', getUserId()]">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-calendar4-week" viewBox="0 0 16 16">
                  <path
                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z" />
                  <path
                    d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-2 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                </svg> &nbsp;&nbsp;
                Programările tale</a></li>
            <!-- <li><a href="#">Digital Marketing</a></li> -->
          </ul>
        </li>
        <li *ngIf="userLoggedIn()">
          <a id="logout-button" 
            (click)="logoutUser()">Logout</a>
        </li>
        <li *ngIf="!userLoggedIn()">
          <a id="login-button" (click)=show()>Login</a>
          <ul [style.display]="showModal ? 'block' : 'none'" class="modal" aria-hidden="true" *ngIf="showModal"
            appOutside (click)="clickedOut($event)">
            <div class="login-box">
              <h2>Login</h2>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="user-box form-group">
                  <input type="text" formControlName="email" class="form-control" [(ngModel)]="email" name=""
                    required="">
                  <label>Email</label>
                </div>
                <div class="user-box">
                  <input type="password" formControlName="password" class="form-control" [(ngModel)]=" password" name=""
                    required="">
                  <label>Parola</label>
                </div>

                <div class="button-form">

                  <a id="submit" (click)="login()">
                    Login
                  </a>

                  <div id="register">
                    Don't have an account ?
                    <a (click)="showForSignup()">
                      Register
                    </a>
                  </div>

                </div>

              </form>
            </div>
          </ul>
        </li>

        <li *ngIf="userLoggedIn()"></li>
        <li *ngIf="!userLoggedIn()">
          <a id="signup-button" (click)=showForSignup()>Signup</a>
          <ul [style.display]="showModalForSignup ? 'block' : 'none'" class="modal" aria-hidden="true"
            *ngIf="showModalForSignup" appOutside (click)="clickedOutForSignup($event)">
            <div class="signUp-box">
              <h3 class="margin">SignUp</h3>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <div class="user-box2 form-group">
                  <input type="text" formControlName="firstname" class="form-control" [(ngModel)]="firstname"
                    name="firstname" required="">
                  <label>Nume</label>
                </div>
                <div class="user-box2 form-group">
                  <input type="text" formControlName="lastname" class="form-control margin" [(ngModel)]="lastname"
                    name="lastname" required="">
                  <label>Prenume</label>
                </div>
                <div class="user-box2 form-group">
                  <input type="text" formControlName="phoneNumber" class="form-control margin" [(ngModel)]="phoneNumber"
                    name="phoneNumber" required="">
                  <label>Telefon</label>
                </div>
                <div class="user-box2 form-group">
                  <input type="text" formControlName="email" class="form-control margin" [(ngModel)]="email"
                    name="email" required="">
                  <label>Email</label>
                </div>
                <div class="user-box2 form-group">
                  <input type="password" formControlName="password" class="form-control margin" [(ngModel)]=" password"
                    name="password" required="">
                  <label>Parola</label>
                </div>
                <div class="user-box2 form-group">
                  <input type="password" formControlName="password" class="form-control margin"
                    [(ngModel)]=" passwordMatching" name="passwordMatching" required="">
                  <label>Confirmă Parola</label>
                </div>

                <div class="button-form margin">

                  <a id="submit" (click)="signUp()">
                    SignUp
                  </a>

                </div>

              </form>
            </div>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</body>