<div class="user-container">

    <div class="img-container">
        <img
            src="https://cdn.w600.comps.canstockphoto.com/pop-art-barber-hipster-man-vector-clipart-vector_csp92988452.jpg">
    </div>

    <div>
        <h2>{{hairdresser.lastname}}</h2>
    </div>

    <diV>
        <h3>Program</h3><br>
        <p>Luni - Sâmbătă: 10:00 - 17:00</p>
        <p>Duminică: Închis</p>
    </diV>
    <div>
        <button href="#"
        class="button"><span class="text-color-font">Programează-te ></span></button> 
    </div>
</div>