<div class="background-div" >
    <div class="edit-text">
        <h2 class="text_color">Ești specialist beauty sau barber?</h2><br>
        <h3 class="text_color">Câștigă timp ca să te poți concentra pe clienții tăi.
            Administrează-ți salonul, clienții și programările
            din cateva clickuri, făra bătăi de cap.
        </h3>
    </div>
    <div routerLink="register-hairdresser" class="div-button">
        <button routerLink="home/register-hairdresser" routerLinkActive="active" href="register-hairdresser"class="button"><span
                class="text-color-font">Listează-ți afacerea aici ></span></button>
    </div>
</div>