 .gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }

    .edit{
        display: flex;
        justify-content: center;
    }

    .move-form{
        margin-top: 3%;
        margin-left: 5%;
        margin-right: 7%;
    }

    .move-save-bottom{
        margin-top: 40px;
    }

    .delete-bottom{
        margin-left: 40%;
        background-color: red;
        margin-top: 20px;
    }

    .user-profile{
        margin: 5%;
        margin-right: auto;
        margin-left: auto;
        width: 800px;
        
    }

    .border{
        border: double;
        text-align: center;
        background-color: aliceblue;
        margin-left: 20%;
        margin-right: 20%;
    }

    .move-text{
        margin-left: 46%;
    }

   


    